@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

html {
  display: flex;
  width: 100%;
  flex-direction: column;
}
html body {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.nav ul li {
  list-style: none;
  padding-left: 3vw;
}
.nav ul li a {
  text-decoration: none;
  font-weight: 500;
  opacity: 0.75;
}

#header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20vw;
  padding-top: 1vw;
  background-color: white;
  border-bottom: 3px solid #1ebab7;
  z-index: 1;
}
#header .logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}
#header .logo-container img {
  display: flex;
  align-items: center;
  height: 3.3vw;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
#header .nav {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}
#header .nav ul {
  display: flex;
}
#header .nav ul li {
  padding: 0 0.8vw;
}
#header .nav ul li a {
  color: black;
  padding: 0.2vw 0;
  opacity: 0.85;
  font-weight: 500;
  font-size: 1.1vw;
}
#header .nav ul li a:hover {
  border-bottom: 2px solid #e01b6c;
  color: #e01b6c;
  opacity: 1;
}

#home {
  display: flex;
  align-items: center;
  background: url(../images/home1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 20vw;
  height: 95vh;
}
#home .dark-overlay {
  color: white;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}
#home .dark-overlay .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1vw;
}
#home .dark-overlay .text-container h2 {
  text-align: center;
  width: 100%;
  font-size: 2em;
  text-justify: center;
  margin-bottom: 0.5vw;
}
#home .dark-overlay .text-container h2 strong {
  font-size: 1em;
  font-weight: 500;
  color: #e01b6c;
}
#home .dark-overlay .text-container p {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5em;
  opacity: 0.8;
  margin-bottom: 1vw;
}
#home .dark-overlay .text-container a {
  border: 0.2vw solid white;
  border-radius: 0.2vw;
  padding: 0.7vw 3.5vw;
  font-size: 1.2vw;
  font-weight: 600;
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
}
#home .dark-overlay .text-container a:hover {
  background-color: #e01b6c;
  border-color: #e01b6c;
}

@keyframes forward-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes backward-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
#about {
  padding: 4vw 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
#about .image-container {
  display: flex;
  align-items: center;
  width: 50%;
  padding-left: 10vw;
  height: 22vw;
  padding-top: 3vw;
}
#about .image-container img {
  display: flex;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  object-fit: cover;
  filter: brightness(1.2);
}
#about .text-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#about .text-container h2 {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: 600;
  font-size: 1.8vw;
  text-align: center;
  margin-bottom: 2vw;
}
#about .text-container p {
  text-align: justify;
  text-justify: center;
  font-size: 0.9vw;
  line-height: 1.4vw;
  opacity: 0.8;
}
#about .text-container strong {
  color: #e01b6c;
}
#about .education {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#about .education h2 {
  display: flex;
  width: 100%;
  font-weight: 600;
  font-size: 1.8vw;
  text-align: center;
  margin-bottom: 2vw;
}
#about .education .topic-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1vw;
  border-radius: 0.35vw;
  border: 0.18vw solid #f2f2f2;
}
#about .education .topic-container .header {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 0.65vw;
}
#about .education .topic-container .header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.45vw;
  height: 1.45vw;
  border-radius: 0.15vw;
  color: white;
  background-color: #1ebab7;
  font-weight: 900;
  margin-bottom: 0.4vw;
}
#about .education .topic-container .header .sorbonne {
  background-color: #ecbe00;
}
#about .education .topic-container .header .name {
  margin-bottom: 0.2vw;
  font-size: 1.2vw;
}
#about .education .topic-container .header .title {
  margin-bottom: 0.6vw;
  font-weight: 600;
  font-size: 0.75vw;
  color: #b900af;
}
#about .education .topic-container .header .location {
  display: flex;
  align-items: center;
  margin-bottom: 0.2vw;
}
#about .education .topic-container .header .location i {
  display: flex;
  align-items: center;
  font-size: 0.8vw;
  color: gray;
  margin-right: 0.5vw;
}
#about .education .topic-container .header .location p {
  display: flex;
  align-items: center;
  font-size: 0.7vw;
  font-weight: 600;
  color: gray;
}
#about .education .topic-container .header .date {
  display: flex;
  align-items: center;
}
#about .education .topic-container .header .date i {
  display: flex;
  align-items: center;
  font-size: 0.8vw;
  margin-right: 0.5vw;
  color: gray;
}
#about .education .topic-container .header .date p {
  display: flex;
  align-items: center;
  font-size: 0.7vw;
  font-weight: 600;
  color: gray;
}
#about .education .topic-container img {
  display: flex;
  width: 35%;
  height: 9vw;
  z-index: -1;
  padding: 0.25vw;
  border-radius: 0 0.45vw 0.45vw 0;
  object-fit: cover;
}
#about .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
#about .skills .circle {
  width: 20vw;
  height: 20vw;
  position: relative;
  border-radius: 50%;
  transform: rotate(0deg);
  border: 1px solid #1ebab7;
  background: linear-gradient(45deg, #f9efe5, #1ebab7);
  transform-origin: 50% 50%;
  animation: forward-rotation 15s ease-in-out infinite;
}
#about .skills .circle .title {
  position: absolute;
  top: 9vw;
  left: 5.2vw;
  font-weight: 600;
  font-size: 1.8vw;
  color: #e01b6c;
  animation: backward-rotation 15s ease-in-out infinite;
}
#about .skills .circle .rounded-topic {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  height: 4.5vw;
  width: 4.5vw;
  font-size: 1vw;
  font-weight: 700;
  border: 1px solid #1ebab7;
  background-color: white;
  transform-origin: 50% 50%;
  animation: backward-rotation 15s ease-in-out infinite;
}
#about .skills .circle .rounded-topic img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#about .skills .circle .node {
  top: -2.25vw;
  left: 7.75vw;
}
#about .skills .circle .node img {
  transform: scale(0.8);
}
#about .skills .circle .react {
  top: 7.75vw;
  left: -2.25vw;
}
#about .skills .circle .react img {
  transform: scale(0.7);
}
#about .skills .circle .javascript {
  top: 7.75vw;
  left: 17.75vw;
}
#about .skills .circle .javascript img {
  transform: scale(0.7);
}
#about .skills .circle .cpp {
  top: 17.75vw;
  left: 7.75vw;
}
#about .skills .circle .git {
  top: 14.5vw;
  left: 14.5vw;
}
#about .skills .circle .bootstrap {
  top: 14.5vw;
  left: 0.2vw;
}
#about .skills .circle .bootstrap img {
  transform: scale(0.8);
}
#about .skills .circle .css {
  top: 1vw;
  left: 14.5vw;
}
#about .skills .circle .html {
  top: 1vw;
  left: 0.2vw;
}
#about .skills .circle .html img {
  transform: scale(0.8);
}

@keyframes project-details-pop-up {
  0% {
    display: none;
    transform: scale(0);
    opacity: 0;
  }
  100% {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 6vw 20vw;
}
#projects h2 {
  display: flex;
  justify-content: center;
  font-size: 1.8vw;
  margin-bottom: 4vw;
}
#projects .projects-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
#projects .projects-container .project-topic {
  display: flex;
  flex-direction: column;
  width: 33%;
  position: relative;
  height: 15vw;
  overflow: hidden;
  border-radius: 0.1vw;
  box-shadow: 0 0 0.05vw #72e191;
}
#projects .projects-container .project-topic img {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#projects .projects-container .project-topic:hover .text-top {
  top: 0;
}
#projects .projects-container .project-topic:hover .text-bottom {
  top: 50%;
}
#projects .projects-container .project-topic .text-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1.2vw;
  width: 100%;
  height: 50%;
  position: absolute;
  top: -50%;
  left: 0;
  background-color: #f5f5f5;
  transition: all 0.4s ease-in-out;
}
#projects .projects-container .project-topic .text-top h3 {
  font-size: 1.2vw;
  margin-bottom: 0.2vw;
}
#projects .projects-container .project-topic .text-top p {
  color: #e01b6c;
}
#projects .projects-container .project-topic .text-bottom {
  display: flex;
  width: 100%;
  height: 50%;
  padding-top: 1.2vw;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f5f5f5;
  transition: all 0.4s ease-in-out;
}
#projects .projects-container .project-topic .text-bottom a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.15vw;
  width: 52%;
  text-decoration: none;
  color: black;
  height: 2.2vw;
  font-weight: 500;
  border: 0.12vw solid #e01b6c;
  transition: all 0.4s ease-in-out;
}
#projects .projects-container .project-topic .text-bottom a:hover {
  background-color: #e01b6c;
  color: white;
}
#projects .project-details {
  position: fixed;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.5);
  padding: 0 29vw;
  z-index: 2;
  display: none;
}
#projects .project-details .dark-overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  margin-top: 5vw;
  animation: project-details-pop-up 0.3s linear;
}
#projects .project-details .dark-overlay .caroussel {
  display: flex;
  width: 100%;
  height: 60%;
  position: relative;
  border-radius: 0.5vw 0.5vw 0;
}
#projects .project-details .dark-overlay .caroussel .left-arrow {
  caret-color: transparent;
  display: flex;
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.5);
  font-size: 1.3vw;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  border-radius: 0 0.3vw 0.3vw 0;
}
#projects .project-details .dark-overlay .caroussel .right-arrow {
  caret-color: transparent;
  display: flex;
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  font-weight: 600;
  font-size: 1.5vw;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  border-radius: 0.3vw 0 0 0;
}
#projects .project-details .dark-overlay .caroussel .exit {
  caret-color: transparent;
  display: flex;
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  font-weight: 600;
  font-size: 1.3vw;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  border-radius: 0 0.3vw 0 0.3vw;
}
#projects .project-details .dark-overlay .caroussel img {
  display: flex;
  object-fit: cover;
  width: 100%;
  border-radius: 0.3vw 0.3vw 0 0;
}
#projects .project-details .dark-overlay .text-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
  background-color: #f5f5f5;
  min-height: 40%;
  padding: 2vw 1.5vw;
  border-radius: 0 0 0.3vw 0.3vw;
  border-top: 0.3vw solid black;
}
#projects .project-details .dark-overlay .text-container .h-line {
  display: flex;
  width: 96%;
  border-top: 0.05vw solid grey;
}
#projects .project-details .dark-overlay .text-container .github {
  background-color: black;
}
#projects .project-details .dark-overlay .text-container h4 {
  width: 100%;
  font-size: 1.5vw;
}
#projects .project-details .dark-overlay .text-container h5 {
  width: 100%;
  font-size: 1vw;
  color: grey;
  border-bottom: 0.01vw solid grey;
  margin-bottom: 0.7vw;
  padding-bottom: 0.7vw;
}
#projects .project-details .dark-overlay .text-container a {
  text-decoration: none;
  color: white;
  background-color: #e01b6c;
  width: 18%;
  height: 1.5vw;
  border-radius: 0.2vw;
  margin-right: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7vw;
}
#projects .project-details .dark-overlay .text-container .description {
  width: 100%;
  text-justify: auto;
  font-size: 0.8vw;
  line-height: 1vw;
  margin-bottom: 0.4vw;
}

/*# sourceMappingURL=main.css.map */
