@keyframes forward-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes backward-rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

#about {
  padding: 4vw 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  // background-color: $color--8;

  .image-container {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 10vw;
    // border: 1px solid black;
    height: 22vw;
    padding-top: 3vw;
    & img {
      display: flex;
      width: 13vw;
      height: 13vw;
      border-radius: 50%;
      object-fit: cover;
      filter: brightness(1.2);
    }
  }
  .text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    & h2 {
      display: flex;
      width: 100%;
      justify-content: center;
      font-weight: 600;
      font-size: 1.8vw;
      text-align: center;
      margin-bottom: 2vw;
    }
    & p {
      text-align: justify;
      text-justify: center;
      font-size: 0.9vw;
      line-height: 1.4vw;
      opacity: 0.8;
      // font-weight: 700;
      // color: grey;
    }
    & strong {
      color: $color--10;
    }
  }
  .education {
    display: flex;
    flex-direction: column;
    width: 50%;
    // border: 1px solid black;
    & h2 {
      display: flex;
      width: 100%;
      font-weight: 600;
      font-size: 1.8vw;
      text-align: center;
      margin-bottom: 2vw;
    }
    .topic-container {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 1vw;
      border-radius: 0.35vw;
      border: 0.18vw solid $border-color--1;
      .header {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0.65vw;
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.45vw;
          height: 1.45vw;
          border-radius: 0.15vw;
          color: white;
          background-color: $icon-background--1;
          font-weight: 900;
          margin-bottom: 0.4vw;
        }
        .sorbonne {
          background-color: $icon-background--2;
        }
        .name {
          margin-bottom: 0.2vw;
          font-size: 1.2vw;
        }
        .title {
          margin-bottom: 0.6vw;
          font-weight: 600;
          font-size: 0.75vw;
          color: $color--3;
        }
        .location {
          display: flex;
          align-items: center;
          margin-bottom: 0.2vw;
          & i {
            display: flex;
            align-items: center;
            font-size: 0.8vw;
            color: gray;
            margin-right: 0.5vw;
          }
          & p {
            display: flex;
            align-items: center;
            font-size: 0.7vw;
            font-weight: 600;
            color: gray;
          }
        }
        .date {
          display: flex;
          align-items: center;
          & i {
            display: flex;
            align-items: center;
            font-size: 0.8vw;
            margin-right: 0.5vw;
            color: gray;
          }
          & p {
            display: flex;
            align-items: center;
            font-size: 0.7vw;
            font-weight: 600;
            color: gray;
          }
        }
      }
      & img {
        display: flex;
        // display: none;
        width: 35%;
        height: 9vw;
        z-index: -1;
        padding: 0.25vw;
        border-radius: 0 0.45vw 0.45vw 0;
        object-fit: cover;
      }
    }
  }
  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    // border: 1px solid black;
    .circle {
      // border: 0.08vw solid black;
      width: $circle-diameter;
      height: $circle-diameter;
      position: relative;
      border-radius: 50%;
      transform: rotate(0deg);
      border: 1px solid $color--1;
      background: linear-gradient(45deg, $color--8, $color--1);
      transform-origin: 50% 50%;
      animation: forward-rotation $animation-duration ease-in-out infinite;
      .title {
        position: absolute;
        top: 9vw;
        left: 5.2vw;
        font-weight: 600;
        font-size: 1.8vw;
        color: $color--10;
        animation: backward-rotation $animation-duration ease-in-out infinite;
      }
      .rounded-topic {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        // box-shadow: 0 0 0.2vw gainsboro;
        border-radius: 50%;
        overflow: hidden;
        height: $topic-diameter;
        width: $topic-diameter;
        font-size: 1vw;
        font-weight: 700;
        // background: linear-gradient(45deg, $color--1, white);
        border: 1px solid $color--1;
        background-color: white;
        transform-origin: 50% 50%;
        animation: backward-rotation $animation-duration ease-in-out infinite;
        & img {
          display: flex;
          width: 100%;
          height: 100%;
          // border-radius: 50%;
          object-fit: cover;
        }
      }
      .node {
        top: $position-type--1;
        left: $position-type--2;
        & img {
          transform: scale(0.8);
        }
      }
      .react {
        top: $position-type--2;
        left: $position-type--1;
        & img {
          transform: scale(0.7);
        }
      }
      .javascript {
        top: $position-type--2;
        left: $position-type--3;
        & img {
          transform: scale(0.7);
        }
      }
      .cpp {
        top: $position-type--3;
        left: $position-type--2;
      }
      .git {
        top: $position-type--4;
        left: $position-type--4;
      }
      .bootstrap {
        top: $position-type--4;
        left: $position-type--5;
        & img {
          transform: scale(0.8);
        }
      }
      .css {
        top: $position-type--6;
        left: $position-type--4;
      }
      .html {
        top: $position-type--6;
        left: $position-type--5;
        & img {
          transform: scale(0.8);
        }
      }
    }
  }
}
