#header {
  // background-color: $color--7;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20vw;
  padding-top: 1vw;
  background-color: white;
  // background: transparent;
  border-bottom: 3px solid $color--1;
  z-index: 1;
  // box-shadow: 0 0 0.2vw $color--7;
  .logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    & img {
      display: flex;
      align-items: center;
      height: 3.3vw;
      object-fit: cover;
      transition: transform 0.3s ease-in-out;
    }
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    & ul {
      display: flex;
      & li {
        padding: 0 0.8vw;
        & a {
          color: $color--6;
          padding: 0.2vw 0;
          opacity: 0.85;
          font-weight: 500;
          font-size: 1.1vw;
          &:hover {
            border-bottom: 2px solid $color--10;
            color: $color--10;
            opacity: 1;
          }
        }
      }
    }
  }
  @media all and (max-width: 1025px) {
    width: 100%;
    padding: 0 2vw;
    padding-top: 1vw;
    border-bottom: 2px solid $color--1;
    .logo-container {
      width: 25%;
      & img {
        height: 5.8vw;
      }
    }
    .nav {
      width: 75%;
      & ul {
        & li {
          padding: 0 1.5vw;
          & a {
            font-size: 2vw;
            &:hover {
            }
          }
        }
      }
    }
  }

  @media all and (max-width: 576px) {
    padding: 0 2vw;
    padding-top: 1vw;
    border-bottom: 2px solid $color--1;
    .logo-container {
      width: 30%;
      & img {
        height: 10vw;
      }
    }
    .nav {
      width: 70%;
      & ul {
        & li {
          padding: 0 1.5vw;
          & a {
            font-size: 3.5vw;
            &:hover {
            }
          }
        }
      }
    }
  }
}

#home {
  display: flex;
  width: 100%;
  align-items: center;
  background: url(../images/tech3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 20vw;
  height: 100vh;
  .dark-overlay {
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1vw;
      & h2 {
        text-align: center;
        width: 100%;
        font-size: 2em;
        text-justify: center;
        margin-bottom: 0.5vw;
        // font-weight: 400;
        text-shadow: 0 0 2vw $color--1;
        & strong {
          font-size: 1em;
          font-weight: 500;
          color: $color--6;
          text-shadow: 0 0 2vw $color--1;
        }
      }
      & p {
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        line-height: 1.5em;
        opacity: 0.8;
        margin-bottom: 1vw;
        text-shadow: 0 0 2vw $color--1;
      }

      & a {
        border: 0.2vw solid white;
        border-radius: 0.2vw;
        padding: 0.7vw 3.5vw;
        font-size: 1.2vw;
        font-weight: 600;
        text-decoration: none;
        color: white;
        transition: all 0.25s ease-in-out;
        text-shadow: 0 0 2vw $color--1;
        &:hover {
          background-color: $color--6;
          border-color: transparent;
          box-shadow: 0 0 0.2vw $color--1;
        }
      }
    }
  }

  @media all and (max-width: 1025px) {
    top: 20vw;
    height: 100vh;
    .dark-overlay {
      .text-container {
        font-size: 2vw;
        & h2 {
          font-size: 2em;
          text-shadow: 0 0 0vw $color--1;
          & strong {
            text-shadow: 0 0 0vw $color--1;
          }
        }
        & p {
          line-height: 1.5em;
          opacity: 0.8;
          text-shadow: 0 0 0vw $color--1;
        }

        & a {
          font-size: 2.7vw;
          text-shadow: 0 0 2vw $color--1;
          padding: 0.8vw 5vw;
          &:hover {
          }
        }
      }
    }
  }

  @media all and (max-width: 577px) {
    top: 20vw;
    height: 100vh;
    .dark-overlay {
      .text-container {
        font-size: 3vw;
        & h2 {
          font-size: 2em;
          text-shadow: 0 0 0vw $color--1;
          & strong {
            text-shadow: 0 0 0vw $color--1;
          }
        }
        & p {
          line-height: 1.5em;
          opacity: 0.8;
          text-shadow: 0 0 0vw $color--1;
        }

        & a {
          font-size: 4vw;
          text-shadow: 0 0 2vw $color--1;
          padding: 1.2vw 8vw;
          &:hover {
          }
        }
      }
    }
  }
}
